
#container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	width: 100%;
	height: 100%;
	background-color: #484848;
	position: relative;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	
}

/* Navbar and Footer */


.horizontal-gradient {
  background: linear-gradient(to right, #6AAFFF, #D919E8);
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 100%;
  height: 300px;

}

.horizontal-gradient2 {
  background: linear-gradient(to right, #D919E8, #E8C070);
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 100%;
  height: 300px;

}


.horizontal-gradient3 {
  background: linear-gradient(to right, #E8C070, #20CE00);
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 100%;
  height: 300px;

}

.horizontal-gradient4 {
  background: linear-gradient(to right, #FF3733, #6AAFFF);
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 100%;
  height: 300px;

}

.site-nav {
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  display: table;
  width: 100%;
  float: left;
  }

#nav {
	list-style:none;
	text-align: center;
	
}
  
 .color-me {
	 color: white;
	 text-decoration: none;
	 font-family: Karla, Helvitica, sans-serif;
	 font-size: 14px;
	 font-weight: bold;
	 position: relative;
	 bottom: -250px;
	 letter-spacing: 0.2px;
	 word-spacing: 20px;
	 display: inline-block;
 }

.site-footer {
    background-color: #a7a7a7;
    font-family: Vollkorn, Georgia, serif;
    font-size: 16px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.7);
	text-align: center;
	width: 100%;
	position: relative;
	left:0;
	bottom:0;
	clear: both;
}


/* For Blog Entries, Removes Overlapping From Footer */

.site-footer2 {
    background-color: #a7a7a7;
    font-family: Vollkorn, Georgia, serif;
    font-size: 16px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.7);
	text-align: center;
	width: 100%;
	position: fixed;
	left:0;
	bottom:0;
}

.main-content2 {
    background: #484848;
    overflow: hidden;
    position: relative;
    z-index: 0;
	width:100%;

}


/* Text */
 p1 {
	 color: white;
	 font-family: Karla, Helvitica, sans-serif;
	 font-size: 25px;
	 font-weight: bold;
	 position: relative;
	 bottom: -50px;
 }
 

 p2 {
	 color: white;
	 font-family: Karla, Helvitica, sans-serif;
	 font-size: 18px;
	 position: relative;
 }
 
 p3 {
	 color: white;
	 font-family: Karla, Helvitica, sans-serif;
	 font-size: 18px;
	 position: relative;
 }
 
  p4 {
	 color: white;
	 font-family: Karla, Helvitica, sans-serif;
	 font-size: 14px;
	 position: relative;
 }
 
 p5 {
	 color: #a7a7a7;
	 font-family: Karla, Helvitica, sans-serif;
	 font-size: 14px;
	 position: relative;
	 letter-spacing: 1.2px;
	 font-weight: bold;
 }
 
 p6 {
	 color: white;
	 font-family: Karla, Helvitica, sans-serif;
	 font-size: 13px;
	 position: relative;
	 letter-spacing: 1.2px;
	 
 }
 
 p7 {
	 color: #a7a7a7;
	 font-family: Karla, Helvitica, sans-serif;
	 font-size: 14px;
	 position: relative;
	 letter-spacing: 1.2px;
	 font-weight: bold;
	 margin: 0px 0px 0px 0px;
 }
 
 p8 {
	 color: white;
	 font-family: Karla, Helvitica, sans-serif;
	 font-size: 14px;
	 position: relative;
	 letter-spacing: 1.2px;
	 margin-top: 20px;
 }

 p9 {
	 color: white;
	 font-family: Karla, Helvitica, sans-serif;
	 font-size: 13px;
	 position: relative;
	 letter-spacing: 1.2px;
	 margin-top: 20px;
	 float:center;
 }

 p10 {
	 color: #a7a7a7;
	 font-family: Karla, Helvitica, sans-serif;
	 font-size: 14px;
	 position: relative;
	 letter-spacing: 1.2px;
	 margin-top: 0px 0px 0px 0px;
	 font-weight: bold; 
 }
 
 p11 {
	 color: white;
	 font-family: Karla, Helvitica, sans-serif;
	 font-size: 12px;
	 position: relative;
	 letter-spacing: 1.2px;
	 margin-top: 20px;
 }
 
  p12 {
	 color: #a7a7a7;
	 font-family: Karla, Helvitica, sans-serif;
	 font-size: 14px;
	 position: relative;
	 letter-spacing: 1.2px;
	 font-weight: bold;
 }

 p13 {
	 color: white;
	 font-family: Karla, Helvitica, sans-serif;
	 font-size: 13px;
	 position: relative;
	 letter-spacing: 1.2px;
     line-height: 1.6;	 
 }
 
 p14 {
	 color: white;
	 font-family: Karla, Helvitica, sans-serif;
	 font-size: 12px;
	 position: relative;
	 letter-spacing: 1.2px;
	 margin-top: 20px;
 }
 
  p15 {
	 color: white;
	 font-family: Karla, Helvitica, sans-serif;
	 font-size: 14px;
	 position: relative;
	 letter-spacing: 1.2px;
	 margin-top: 20px;
 }
 
  p17 {
	 color: white;
	 font-family: Karla, Helvitica, sans-serif;
	 font-size: 14px;
	 position: relative;
	 letter-spacing: 1.2px;
	 margin-top: 20px;
 }
 
 
#echoPassword {
	color:white;
	font-family: Karla, Helvitica, sans-serif;
	font-size: 14px;
}
 
 .blog-entries {
	 color: #D4D1D1;
	 font-family: Karla, Helvitica, sans-serif;
	 font-size: 16px;
	 position: relative;
	 letter-spacing: 1.2px;
	 font-weight: bold;
	 overflow: none;
	 
 }
 
 a {
	 color:white;
	 font-family: Karla, Helvitica, sans-serif;
	 font-size: 13px;
	 position: relative;
	 letter-spacing: 1.2px;
	 text-decoration: none;
 }
 
 a:hover {
	 color:#B589C4;
	 text-decoration-style: solid;
	 text-decoration-color: white;
 }


/*page layout*/ 
body {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.body2 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	position: relative;
}


.main-content {
    background: #484848;
    overflow: hidden;
    position: relative;
    z-index: 0;
    min-height: calc(100vh - 300px);
	max-height: calc(100vh - 500px);
	width:100%;
}




@media (min-width=630px) {
.container1 {
    
	position: relative;
    width: 100%;
    max-width: 700px;
	height: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
	padding-left: 60px;
}
}

@media (min-width=630px) {
.container2 {
    
	position: relative;
    width: 60%;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
	padding-left: 60px;
    overflow:scroll;
}
}

.container3 {
    
	position: relative;
    width: 85%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
	padding-left: 60px;
}

.container5 {
    
	position: relative;
    width: 55%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
	padding-left: 60px;
	background-color: white;
	height: 80%;
}



@media (min-width:630px){
.page {
	position:relative;
	width:100%;
}
}


.wrap {
    margin: 40px auto;
    max-width: 1200px;
}

.responsive {
	max-width:80%;
	height:auto;
	min-width:40%;
}


.responsive2 {
	max-width: 30%;
	min-width:30%;
	height: auto;
}


